@import url('https://fonts.googleapis.com/css?family=Anton|Montserrat:400,700');

* {
    box-sizing: border-box;
}

body {
    font-family: Montserrat, sans-serif;
    margin: 0;
}

.button {
    background: #0e4f1f;
    color: white;
    font: inherit;
    border: 1.5px solid #0e4f1f;
    padding: 0.5rem;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.button:hover,
.button:active {
    background: white;
    color: #0e4f1f;
}

.button:focus {
    outline: none;
}

.jobs-title {
    text-align: center;
    font-size: 1.8rem;
    color: #ff5454;
}

.jobs-form {
    padding: 1rem;
    width: 25rem;
    margin: auto;
}

.jobs-form label {
    font-weight: bold;
}

.jobs-form label,
.jobs-form input,
.jobs-form select {
    display: block;
    margin-top: 1rem;
    width: 100%;
}

.jobs-form input[type="checkbox"],
.jobs-form input[type="checkbox"] + label {
    display: inline-block;
    width: auto;
    vertical-align: bottom;
}

.jobs-form input:not([type="checkbox"]),
.jobs-form select {
    border: 1px solid #ccc;
    padding: 0.2rem 0.5rem;
    font: inherit;
}

.jobs-form input:focus,
.jobs-form select:focus {
    outline: none;
    background: #d8f3df;
    border-color: #2ddf5c;
}

.jobs-form input[type="checkbox"] {
    border: 1px solid #ccc;
    background: white;
    width: 1rem;
    height: 1rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.jobs-form input[type="checkbox"]:checked {
    background: #2ddf5c;
    border-color: #0e4f1f;
}

.jobs-form input.invalid,
.jobs-form select.invalid,
.jobs-form :invalid {
    border-color: red !important;
    background: #faacac;
}

.job {
  background: #d5ffdc;
  text-align: center;
  padding: 1rem;
  margin: 0.5rem 0rem;
}

.job__waiting {
    background: #ffffee;
}

.job__error {
    background: #f99595;

}

.job-rev a,
.job-release a {
  text-decoration: none;
  color: #0e4f1f;
  font-weight: bold;
  padding: 0.2rem 0;
}

.job-rev a:hover,
.job-rev a:active,
.job-release a:hover,
.job-release a:active {
  border-bottom: 5px solid white;
}

@media (min-width: 40rem) {
  .job__list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .job {
    display: inline-block;
    width: 30%;
    vertical-align: middle;
    margin: 0.5rem 1rem;
    min-width: 13rem;
    max-width: 25rem;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  }
}
